body {
	text-align: center;
	
	margin: 20px;
	
    color: #666;
    background: #0F0F0F;
}

canvas {
	border-style: solid;
    border-width: 1px;
	border-color: rgb(55, 55, 55);
    background-color: rgb(0, 0, 0);
	
    /* pyöreät kulmat */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.hidden {
	display: none;
}
